<h2 class="center-flex font-bold text-4xl text-slate-100 mb-2">Log in</h2>

<div class="w-full max-w-xs mx-auto">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="mb-6 text-center">
      <%= f.label :email, class: 'label-devise' %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email",
                        class: 'devise-input'
      %>
    </div>

    <div class="mb-6 text-center">
      <%= f.label :password, class: 'label-devise' %><br />
      <%= f.password_field :password, autocomplete: "current-password",
                           class: 'devise-input'
      %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field text-center text-white">
        <%= f.check_box :remember_me,
                        class: 'w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-blue-300 dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800'
        %>
        <%= f.label :remember_me, class: 'ml-4 text-sm font-medium text-white' %>
      </div>
    <% end %>

    <div class="actions text-center">
      <%= f.submit "Log in",
                   class: 'button-navy'
      %>
    </div>
  <% end %>

  <%= render "users/shared/links" %>
</div>
