<% if user_signed_in? %>
  <div class="center-flex">
    <h1 class="font-bold text-4xl text-slate-100">Your orders,
      <%= current_user.firstname %> <%= current_user.lastname %></h1>
  </div>
  <div class="p-3"></div>

  <table class="table-auto text-green-200">
    <thead>
    <tr class="text-center">
      <th>Order</th>
      <th>Created</th>
      <th>Status</th>
      <th>Delivered</th>
    </tr>
    </thead>
    <tbody>
    <% @orders.each do |order| %>
      <tr class="text-center">
        <td> <%= link_to order.id, order_path(order) %> </td>
        <td> <%= order.ordered_at %></td>
        <td> <%= order.status %></td>
        <td> soon </td>
      </tr>
    <% end %>
    </tbody>
  </table>

<% elsif session[:product_ids].present? %>
  <div class="center-flex">
    <h1 class="font-bold text-4xl text-slate-100">Your order products,
      anonymous user</h1>
  </div>
  <div class="p-3"></div>
  <table class="table-auto text-purple-300">
    <thead>
    <tr class="text-center">
      <th>Product</th>
    </tr>
    </thead>
    <tbody>
    <% @order.each do |prod| %>
      <tr class="text-center">
        <td> <%= link_to prod.name, product_path(prod) %> </td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <div class="center-flex text-purple-400">
    <h1 class="font-bold text-xl text-slate-100 text-white">
      In order to confirm your order, please, fill the form below.</h1>
      <p class="text-white">If you are positive about your order, after filling the form, please click the button 'confirm'.</p>
      <%= render partial: 'layouts/shared/forms/form_for_logged', locals: {orders: @orders, order: @order} %>
  </div>
<% end %>