<!DOCTYPE html>
<html>
  <head>
    <title>Ecommerceshop</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <!-- special for forms --> 
    <script src="https://kit.fontawesome.com/3cf9b4a2ab.js" crossorigin="anonymous"></script>


    <%= javascript_importmap_tags %>
  </head>

  <body class="bg-stone-900">
    <%= render "layouts/shared/header" %>
    <main class="container mx-auto mt-20 px-5 flex flex-col">
      <%= yield %>
    </main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

  </body>
</html>
