<div class="w-full max-w-xs mx-auto text-center">
  <h2 class="center-flex font-bold text-4xl text-slate-100 mb-2">Sign up</h2>
  <%= form_for(resource,
               as: resource_name,
               url: registration_path(resource_name),
               html: {
                 class: "bg-stone-900 mb-4 px-8 pt-6 pb-8"
               }
      ) do |f| %>

    <%= devise_error_messages! %>

    <div class="mb-4">
      <%= f.label :first_name, class: 'block text-l font-medium text-gray-900 dark:text-white' %>
      <%= f.text_field :first_name,
                       placeholder: "Allison",
                       class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
      %>
    </div>

    <div class="mb-4">
      <%= f.label :last_name, class: 'block text-l font-medium text-gray-900 dark:text-white' %>
      <%= f.text_field :last_name,
                       placeholder: "Johnson",
                       class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
      %>
    </div>

    <div class="mb-4">
      <%= f.label :email, class: 'block text-l font-medium text-gray-900 dark:text-white' %>
      <%= f.email_field :email,
                        autocomplete: "email",
                        placeholder: "user@example.com",
                        class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
      %>

    </div>

    <div class="mb-4">
      <%= f.label :password, class: 'block text-l font-medium text-gray-900 dark:text-white' %>
      <% if @minimum_password_length %>
        <small><em class="text-gray-600">(<%= @minimum_password_length %> characters minimum)</em></small>
      <% end %>
      <%= f.password_field :password,
                           autocomplete: "new-password",
                           class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
      %>
    </div>

    <div class="mb-4">
      <%= f.label :password_confirmation, class: 'block text-l font-medium text-gray-900 dark:text-white' %>
      <%= f.password_field :password_confirmation,
                           autocomplete: "new-password",
                           class: 'bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500'
      %>
    </div>

    <div class="mb-4">
      <%= f.button "Sign Up",
                   class: 'mt-4 text-white bg-teal-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:focus:ring-teal-900',
                   data: { disable_with: "<i class='fa-solid fa-circle-notch fa-spin'></i> Signing in..."}
      %>
    </div>

    <%= render "devise/shared/links" %>

  <% end %>

  <%= render "devise/shared/form_footer" %>
</div>
